{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>{{nama}}</p>

<h5>Student ID: </h5>
  <p>{{id}}</p>

<table style="background-color:#33475b">
    <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release Date</th>
    <th>Review</th>

    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for movie in data_mywatchlist %}
    <tr>
        <th>{{movie.watched}}</th>
        <th>{{movie.title}}</th>
        <th>{{movie.rating}}</th>
        <th>{{movie.release_date}}</th>
        <th>{{movie.review}}</th>
    </tr>
    {% endfor %}
</table>

{% endblock content %}